# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Aset\Documents\Асет\Университет\5 семестр\Backend For High-Load Environments\SIS\week_10\backend_service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
